<div id="contact-box" class="row">
  <div class="col-md-6 col-sm-12">
    <div class="block">
      <h2>Stop By For A visit</h2>
      <ul class="address-block">
        <li>
          <i class="fa fa-map-marker"></i>North Main Street,Brooklyn Australia
        </li>
        <li>
          <i class="fa fa-envelope-o"></i>Email: contact@mail.com
        </li>
        <li>
          <i class="fa fa-phone"></i>Phone:+88 01672 506 744
        </li>
      </ul>

      {% include shared/social-icons.html %}
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="block">
      <h2>We Also Count In Google Map</h2>
      <div class="google-map">
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>
